{% extends "base.html" %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="container">
        <hr>
        <h1>New Arrivals</h1>
        <hr>
        <div class="row">
            {% for book in books %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <a href="{% url 'book_detail' book.id %}">
                        {% if book.image %}
                        <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
                        {% else %}
                        <a href="{% url 'book_detail' book.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title }}">
                        </a>
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">by {{ book.author }}</p>
                        <p class="card-text">£{{ book.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}